.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.marker{
    display: flex;
    width: 25%;
    padding: 1%;
    height: 40px;
}
.red1{
    width: 25%;
    background-image: linear-gradient(rgba(255, 0, 0,1),rgba(255, 0, 0,0.5),rgba(255, 0, 0,1));
}
.red2{
    width: 62.5%;
    background-image: linear-gradient(rgba(255, 0, 0,0.6),rgba(255, 0, 0,0.2),rgba(255, 0, 0,0.6));
    
    border-left: 10px double rgba(0, 0, 0,1) ;
}
.red3{
    width: 12.5;
    background-image: linear-gradient(rgba(255, 0, 0,1),rgba(255, 0, 0,0.5),rgba(255, 0, 0,1));
}
.green1{
    width: 25%;
    background-image: linear-gradient(rgb(60, 206, 2,1),rgb(72, 255, 0,0.5),rgb(72, 255, 0,1));
}
.green2{
    width: 62.5%;
    background-image: linear-gradient(rgb(60, 206, 2,0.6),rgb(72, 255, 0,0.2),rgb(72, 255, 0,0.6)); 
    border-left: 10px double rgba(0, 0, 0,1) ;
}
.green3{
    width: 12.5;
    background-image: linear-gradient(rgb(60, 206, 2,1),rgb(72, 255, 0,0.5),rgb(72, 255, 0,1));
}
.blue1{
    width: 25%;
    background-image: linear-gradient(rgba(31, 4, 150,1),rgba(31, 4, 150,0.5),rgba(31, 4, 150,1));
}
.blue2{
    width: 62.5%;
    background-image: linear-gradient(rgba(31, 4, 150,0.6),rgba(31, 4, 150,0.2),rgba(31, 4, 150,0.6));
    border-left: 10px double rgba(0, 0, 0,1) ;
}
.blue3{
    width: 12.5;
    background-image: linear-gradient(rgba(31, 4, 150,1),rgba(31, 4, 150,0.5),rgba(31, 4, 150,1));
}